body {
  font-family: verdana;
  color: #dddddd;
  background-color: #222222;
}

h1 {
  text-align: center;
}

h2 {
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

form {
  margin-left: 50px;
}
